NWC URL parsing issue when URL does not contain `//` after scheme

## Summary

From investigation in #1536, it was found that Damus fails to parse Nostr Wallet Connect URLs when the forward slashes (`//`) after the scheme are omitted (i.e. `nostr+walletconnect:` instead of `nostr+walletconnect://`).

Although it seems that [Alby](https://nwc.getalby.com) _(A popular option for this)_ provides URLs with forward slashes (`//`), the official [NIP-47](https://github.com/nostr-protocol/nips/blob/master/47.md) spec does not require slashes to be placed after the scheme, so we should support that format.

## Issue reproduction information

**iOS:** 16.4 (iPhone 14 Pro)
**Damus:** 1.6 (17) `b18a0c57`
**Generic steps:**

1. Open Damus
2. Open "Wallet" settings
3. Click "Attach wallet"
4. Enter the test URL (In my case I use the paste feature)
5. Go back to "Attach wallet" and see if the app accepted the URL

**Results:**

| Test URL | Expected Result | Actual result |
|---------|--------|--------|
| `nostr+walletconnect:b889ff5b1513b641e2a139f661a661364979c5beee91842f8f0ef42ab558e9d4?relay=wss%3A%2F%2Frelay.damus.io&secret=71a8c14c1407c113601079c4302dab36460f0ccd0ad506f1f2dc73b5100e4f3c` | Should connect successfully | I get "Invalid Nostr wallet connection string" |
| `nostr+walletconnect://b889ff5b1513b641e2a139f661a661364979c5beee91842f8f0ef42ab558e9d4?relay=wss%3A%2F%2Frelay.damus.io&secret=71a8c14c1407c113601079c4302dab36460f0ccd0ad506f1f2dc73b5100e4f3c` | Should connect successfully | I am able to successfully connect, and the relay displayed on screen is `wss://relay.damus.io` (i.e. It seems to be decoding the URL encoded portion correctly) |

_(**Note:** You may need to scroll table horizontally to see all columns)_

I will start working on a fix.

@benthecarman, that is an interesting point. 

To help with deciding whether or not these characters should be included, I did a bit more research into why `//` exists in URLs, and their meaning.

I was able to find some useful information on [RFC 3986, section 3.2](https://www.rfc-editor.org/rfc/rfc3986#section-3.2):

```
3.2.  Authority

   Many URI schemes include a hierarchical element for a naming
   authority so that governance of the name space defined by the
   remainder of the URI is delegated to that authority (which may, in
   turn, delegate it further).  The generic syntax provides a common
   means for distinguishing an authority based on a registered name or
   server address, along with optional port and user information.

   The authority component is preceded by a double slash ("//") and is
   terminated by the next slash ("/"), question mark ("?"), or number
   sign ("#") character, or by the end of the URI.

      authority   = [ userinfo "@" ] host [ ":" port ]

   URI producers and normalizers should omit the ":" delimiter that
   separates host from port if the port component is empty.  Some
   schemes do not allow the userinfo and/or port subcomponents.

   If a URI contains an authority component, then the path component
   must either be empty or begin with a slash ("/") character.  Non-
   validating parsers (those that merely separate a URI reference into
   its major components) will often ignore the subcomponent structure of
   authority, treating it as an opaque string from the double-slash to
   the first terminating delimiter, until such time as the URI is
   dereferenced.
```

It seems that `//` are used to describe a host "authority", which would then have governance over the remainder of the name space of the URI (e.g. How website servers can control which paths route to which page or endpoint).

Since the base path of NWC urls are hex-encoded pubkeys, and have no governance over the remainder of the URI, they should not be considered an authority _(at least according to this spec)_.

I believe a useful comparison would be `mailto:` URLs. These do not use double-slashes (`//`) (e.g. `mailto:johndoe@example.com`). Presumably because email addresses are not "authorities" able to control the remainder of the URI.

Based on the above, I think it would make sense to keep NIP-47 as-is, and have Damus support either format (at least while Alby and other big providers use it — for maximum compatibility). @jb55, @benthecarman, what are your thoughts on this?

Submitted a patch that would allow for both URL formats to be used _(for now, at least until one of them becomes the "de facto" standard)_

## Patch submission

The patch can be found at: https://groups.google.com/a/damus.io/g/patches/c/kuqTJV8jcpU

## Testing done on the patch

### Manual test

**PASS**
**iOS:** 16.4 (iPhone 14 Pro)
**Damus:** `770b14b025805d3082940991839ba198953acff8`
**Generic steps:** Same as described in the original issue
**Results:**

| Test URL | Expected Result | Actual result |
|---------|--------|--------|
| `nostr+walletconnect:b889ff5b1513b641e2a139f661a661364979c5beee91842f8f0ef42ab558e9d4?relay=wss%3A%2F%2Frelay.damus.io&secret=71a8c14c1407c113601079c4302dab36460f0ccd0ad506f1f2dc73b5100e4f3c` | Should connect successfully | I am able to successfully connect, and the relay displayed on screen is `wss://relay.damus.io` |
| `nostr+walletconnect://b889ff5b1513b641e2a139f661a661364979c5beee91842f8f0ef42ab558e9d4?relay=wss%3A%2F%2Frelay.damus.io&secret=71a8c14c1407c113601079c4302dab36460f0ccd0ad506f1f2dc73b5100e4f3c` | Should connect successfully | I am able to successfully connect, and the relay displayed on screen is `wss://relay.damus.io` |

_(**Note:** You may need to scroll table horizontally to see all columns)_

### Automated unit test

**PASS**
**iOS:** 16.4 (iPhone 14 Pro)
**Damus:** `770b14b025805d3082940991839ba198953acff8`
**Steps:** Run `WalletConnectTests.swift` unit tests, with both pre-existing test cases and the newly added one, which checks the exact NIP-47 example (url-encoded relay parameter, and no double slashes)

## Other notes

This patch just ensures maximum compatibility on Damus (by making sure we handle both formats), but please feel free to continue discussion on NIP-47 — I think it is a good discussion given that other clients/software seem to be using double-slashes.

@jb55, please let me know if you have any questions, concerns, or if any additional work is needed. Thank you!