Some image links appear with \ escape characters (fix URL)

In some posts I have noticed there are image links that do not render because they include backslash characters between the slashes. 

This is happening on build 1.6(11)

Examples:

note1da9jzar0knz8mpjyxa2cf6xds6qdvn8mhg6kwk9ee0ya36c4eqgs4g57gu

note10ycdq6rh3cazzfezlq6s7tw2hnru8fk5ufv9sdrzt0zmyctjz3ysrczdwc

![image](https://github.com/damus-io/damus/assets/3638467/6cada3c8-9b7f-4595-932c-f2141c3b1d0f)
![image](https://github.com/damus-io/damus/assets/3638467/13ae0226-d3dd-456a-b5b5-7b9655d254fb)

Can you check again later?

This has happened to me previously. Issue resolved on its own for me. 

On Thu, Aug 10, 2023 at 12:43:31PM -0700, alltheseas wrote:
>Can you check again later?
>
>This has happened to me previously. Issue resolved on its own for me.

just happened with me when I reposted your job posting link 🤔


@tyiu 

> Anyone getting escaped urls leaking out? https://damus.io/note1ev4fm2ft99terpyj3hr34lfgcqqj9rkmd2ufmge07gkjazswlzrslfxxgg

![image](https://github.com/damus-io/damus/assets/64376233/8db75e09-92bc-4324-b289-1b106f0580fc)

![image](https://github.com/damus-io/damus/assets/64376233/f7ecc7d4-d314-4121-8816-a96139e6a7cf)

https://damus.io/note1urzqxn2ker6rgccwkul7hy3xxmec8l763ctxcec3u433j7entz0qj32yr3

https://damus.io/note1dmgf2tu6xyy5x9ypll6aclqns9wdztdqxuu90y9yxvw7ewq0gacs2l4my6

I tried it on my end but could not reproduce the problem on the tip of `master`:

**iOS:** 16.4 (iPhone 14 Pro simulator)
**Damus version:** Current tip of `master` (as of writing that is `1dabd88355dcf0e3176109e03ce5e3afabf99312`)
**Steps taken:**

1. Go to search tab
2. Search for `note1urzqxn2ker6rgccwkul7hy3xxmec8l763ctxcec3u433j7entz0qj32yr3` (the one in the second to last comment)
3. Click on note
4. Check for escape characters

Mine looked like this:
![Simulator Screenshot - iPhone 14 Pro - 2023-08-11 at 20 53 52](https://github.com/damus-io/damus/assets/24692108/95800372-9314-4b12-9786-3786c33ffda4)


The issue seems to be intermittent, not depending only on the Damus/iOS version or a specific note, but also on how the note is loaded.

Here is one experiment that allowed me to reproduce the issue

**iOS:** 16.4 (iPhone 14 Pro simulator)
**Damus version:** Current tip of master (as of writing that is `1dabd88355dcf0e3176109e03ce5e3afabf99312`)
**Steps taken:**

1. Go to the home tab
2. Start randomly navigating across many notes and comments until an image link with the `\` escape character appears visible
3. Copy note ID
4. Go to search tab and paste note ID
5. Check if the image link appears broken with the `\` escape character visible _(It does)_
![Simulator Screenshot - iPhone 14 Pro - 2023-08-11 at 21 21 42](https://github.com/damus-io/damus/assets/24692108/85170486-2f7e-4b10-a0d1-f000218e8331)
6. Stop Damus from running, close the iOS simulator
7. Restart the iOS simulator and Damus
8. Go to search tab and paste the same note ID
9. Check if the image link appears broken with the `\` escape character visible _(It does NOT this time, the image loads)_
![Simulator Screenshot - iPhone 14 Pro - 2023-08-11 at 21 22 47](https://github.com/damus-io/damus/assets/24692108/efe4c2d2-10d8-456f-9e68-9c8f4aeace01)
 ID


https://damus.io/note1hasxwdth39d8wn9v4vfga036dpw90rfgzkh8q25e5v8mgdjwjuuq3wtesn

![image](https://github.com/damus-io/damus/assets/64376233/b72b2b70-2771-4218-823f-75fedcf9cbac)

![image](https://github.com/damus-io/damus/assets/64376233/d800352a-30d0-4e92-b660-5dd6f35b492d)

![image](https://github.com/damus-io/damus/assets/64376233/72fdc475-6ca0-4d72-b934-d0896ce37d3d)

Origin: Sersleepy

I believe that I have a stable repro and I am getting closer to the root cause. I will report more details soon

It was hard to track this down, but I have found the root cause, made a fix, and re-tested. Here are the details of my investigation and fix:

### My repro steps (3/3 consistency)

**iOS:** 16.4 (iPhone 14 Pro simulator)
**Damus version:** `1dabd88355dcf0e3176109e03ce5e3afabf99312`
**Reproducibility:** 3 out of 3 tries
**Steps taken:**

1. Go to the home tab
2. Find a post posted by `@jb55`, and click on his profile
3. Scroll down until the note `note1armwega3vx4m5q6d4jdq9wmfxrkda87jldwkchez5p2jdcgnst9sy75uf9` by `@corndalorian` can be found _(If this post cannot be found navigating in the described manner, try random navigation until finding the problem, while keeping track of where you click so you can try the same navigation path again)_
4. The post mentioned above had a broken image on my end (3/3 repro).
5. Restart Damus
6. Go to search tab and search for `note1armwega3vx4m5q6d4jdq9wmfxrkda87jldwkchez5p2jdcgnst9sy75uf9`.
7. The same post was now working (3/3 repro).

### Investigation and root cause

I placed a breakpoint on the `RelayConnect.receive` method to collect raw event data from steps 3 and 7 above.

**Debugger data for broken event in step 3:**
```
Printing description of messageString:
"[\"EVENT\",\"A54091AC-D144-49F6-853A-2141A5EA09B6\",{\"content\":\"{\\\"tags\\\":[],\\\"pubkey\\\":\\\"f8e6c64342f1e052480630e27e1016dce35fc3a614e60434fef4aa2503328ca9\\\",\\\"content\\\":\\\"https:\\\\/\\\\/cdn.nostr.build\\\\/i\\\\/5c1d3296f66c2630131bf123106486aeaf051ed8466031c0e0532d70b33cddb2.jpg\\\",\\\"created_at\\\":1691864981,\\\"kind\\\":1,\\\"sig\\\":\\\"fc0033aa3d4df50b692a5b346fa816fdded698de2045e36e0642a021391468c44ca69c2471adc7e92088131872d4aaa1e90ea6e1ad97f3cc748f4aed96dfae18\\\",\\\"id\\\":\\\"e8f6eca3b161abba034dac9a02bb6930ecde9fd2fb5d6c5f22a05526e11382cb\\\"}\",\"created_at\":1691866192,\"id\":\"56e3f14cedab76762afef78eeb34b07ce1313543a2f3365a7b99fd5daa65abc9\",\"kind\":6,\"pubkey\":\"32e1827635450ebb3c5a7d12c1f8e7b2b514439ac10a67eef3d9fd9c5c68e245\",\"sig\":\"3c1161c3b03cafe13e2d9d624b158bdb74867caf61df158871633c859cd587e7779d096680de34024d9acfcba9aa3cb76fdbfa20227afb7e03a9ab588e6b77c9\",\"tags\":[[\"e\",\"e8f6eca3b161abba034dac9a02bb6930ecde9fd2fb5d6c5f22a05526e11382cb\",\"\",\"root\"],[\"p\",\"f8e6c64342f1e052480630e27e1016dce35fc3a614e60434fef4aa2503328ca9\"]]}]"
```

**Debugger data for working event in step 7:**
```
Printing description of messageString:
"[\"EVENT\",\"107EB1E5-0905-46F4-9E07-44FF6520E5DC\",{\"content\":\"https://cdn.nostr.build/i/5c1d3296f66c2630131bf123106486aeaf051ed8466031c0e0532d70b33cddb2.jpg\",\"created_at\":1691864981,\"id\":\"e8f6eca3b161abba034dac9a02bb6930ecde9fd2fb5d6c5f22a05526e11382cb\",\"kind\":1,\"pubkey\":\"f8e6c64342f1e052480630e27e1016dce35fc3a614e60434fef4aa2503328ca9\",\"sig\":\"fc0033aa3d4df50b692a5b346fa816fdded698de2045e36e0642a021391468c44ca69c2471adc7e92088131872d4aaa1e90ea6e1ad97f3cc748f4aed96dfae18\",\"tags\":[]}]"
```

This data is coming directly from a WebSocket connection, so I concluded that the addition of escaped slash characters `\/` is being done by the relays. Although I am not aware why the relay escapes the slashes in certain circumstances, but not in others, this logic is outside the client.

However, if we work out how the broken even JSON would parse, we find that it is valid JSON:
```
{
    "pubkey": "f8e6c64342f1e052480630e27e1016dce35fc3a614e60434fef4aa2503328ca9",
    "content": "https:\/\/cdn.nostr.build\/i\/5c1d3296f66c2630131bf123106486aeaf051ed8466031c0e0532d70b33cddb2.jpg",
    "id": "e8f6eca3b161abba034dac9a02bb6930ecde9fd2fb5d6c5f22a05526e11382cb",
    "created_at": 1691864981,
    "sig": "fc0033aa3d4df50b692a5b346fa816fdded698de2045e36e0642a021391468c44ca69c2471adc7e92088131872d4aaa1e90ea6e1ad97f3cc748f4aed96dfae18",
    "kind": 1,
    "tags": []
}
```

Escaping forward slashes is not required, but can be optionally done as specified in [RFC8259 Section 7](https://datatracker.ietf.org/doc/html/rfc8259#section-7).

Investigating the various steps in decoding these events, I found that the parsing issue is down at the `NdbNote` class. 

I fixed the parsing issue, and added relevant parsing unit tests.

### Testing of the fix

**iOS:** 16.4 (iPhone 14 Pro simulator)
**Damus version:** `05cfd031d238907df7b7c7174ea92833a3a47774`
**Steps taken:** 

1. Redo the reproduction steps, ensuring the image appears in step 4
2. Randomly navigate throughout Damus for a while, ensuring the issue is not seen elsewhere, and nothing else is broken
3. Ran all unit tests, old and new, and ensure they all pass.

**All steps above worked for me**

### Patch for the fix

Can be found at [https://groups.google.com/a/damus.io/g/patches/c/iChMVTEDN2I](https://groups.google.com/a/damus.io/g/patches/c/iChMVTEDN2I)

@alltheseas, @jb55, please let me know if you have any questions or if you need further changes or testing. 

Thank you!
